@page "/"
@page "/Login"
@inherits LoginBase


@if (!string.IsNullOrEmpty(ErrorMessage))
{
    <div class="alert alert-danger">@ErrorMessage</div>
}

<section class="vh-100">
    <div class="container-fluid h-custom mt-10">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
       <EditForm Model="@LoginData" class="form-group">

          <!-- Email input -->

          <div class="form-outline mb-4">
              <DataAnnotationsValidator />
              <label for="email" class="form-label mt-2"><strong>Email</strong></label>
              <InputText class="form-control" @bind-Value="LoginData.Email" type="text" id="email" fdprocessedid="pb66qm"
                         placeholder="Enter a valid email address" />
               @*<ValidationMessage For="@(() => LoginData.Email)" />*@
           </div>

           <!-- Password input -->

           <div class="form-outline mb-4">
               <DataAnnotationsValidator />
               <label for="Password" class="form-label mt-2"><strong>Password</strong></label>
               <InputText class="form-control" @bind-Value="LoginData.Password" type="text" id="Password" fdprocessedid="pb66qm"
                           placeholder="Enter a Your password" />
              @* <ValidationMessage For="@(() => LoginData.Password)" />*@
            </div>

          <div class="d-flex justify-content-between align-items-center">
            <!-- Checkbox -->
            <div class="form-check mb-0">
              <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
              <label class="form-check-label" for="form2Example3">
                Remember me
              </label>
            </div>
            <a href="#!" class="text-body">Forgot password?</a>
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="button" class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;"
              @onclick="() => SubmitForm()"> Login
            </button>
            <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="/Register"
                class="link-danger">Register</a></p>
          </div>

       </EditForm>
       </div>
    </div>
  </div>
</section>
  